:root {
    --bg-main: rgba(255, 255, 255, 1);
    --bg-secondary: rgba(248, 248, 255, 0.8);
    --bg-ambient: rgba(0, 0, 0, 1);
    --outline-main: rgba(140, 140, 140, 0.8);
    --text-main: rgba(38, 38, 255, 1);
    --text-secondary: rgba(80, 80, 255, 1);
    --header-size: 4rem;
    --header-weight: bolder;
    --header-font: "Jacquarda Bastarda 9", serif;
    --text-size: 2rem;
    --text-weight: lighter; 
    --text-font: "Inter", sans-serif; 
}

* {
    color: var(--text-main);
    font-weight: var(--text-weight);
    font-family: var(--text-font);
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

a {
    color: var(--text-main);
    font-weight: var(--text-weight);
    font-family: var(--text-font);
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
}

body {
    background: var(--bg-ambient);
    overflow: hidden;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.selectable {
    cursor: pointer;
}