:root {
    --bg-main: rgba(255, 255, 255, 1);
    --bg-secondary: rgba(248, 248, 255, 0.8);
    --bg-select: rgba(255, 255, 255, 0.1);
    --bg-ambient: rgba(0, 0, 0, 1);
    --outline-main: rgba(140, 140, 140, 0.1);
    --text-header: rgba(38, 38, 255, 1);
    --text-header-secondary: rgba(38, 38, 255, 1);
    --text-main: rgba(33, 33, 37, 0.8);
    --text-main-secondary: rgba(26, 26, 52, 0.8);
    --header-size: 1rem;
    --landing-header-size: 2rem;
    --impact-header-size: 6rem;
    --header-weight: 900;
    --header-font: "Jacquarda Bastarda 9", serif;
    --text-size: 1rem;
    --text-weight: 400; 
    --text-font: "Ingram mono", sans-serif; 
}

@font-face {
    font-family: "Ingram Mono";
    src: url("/assets/fonts/ingram-mono-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    color: var(--text-main);
    font-weight: var(--text-weight);
    font-family: var(--text-font);
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

a {
    color: var(--text-header);
    font-weight: var(--text-weight);
    font-family: var(--text-font);
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
}

body {  
    background: radial-gradient(circle, var(--bg-main) 0%, var(--bg-secondary) 100%);
    overflow: hidden;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    background: var(--bg-ambient);
    overflow-y: auto;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.selectable {
    cursor: pointer;
}

.header-text-styling {
    font-weight: var(--header-weight);
    font-family: var(--header-font);
}

.main-text-styling { 
    font-weight: var(--text-weight);
    font-family: var(--text-font);
}

.align-start {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
}

.align-end {
    display: flex;
    justify-content: end;
    align-items: end;
    text-align: end;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 100vh; 
    left: 0;
    overflow: hidden;
    padding-right: 2rem;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    height: 50%;
    width: 100%;
    top: 0;
    border-right: 1px solid var(--outline-main);
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 50%;
    width: 100%;
    bottom: 0;
    border-right: 1px solid var(--outline-main);
}

.sidebar .sidebar-line {
    border-bottom: 1px solid var(--outline-main);
}

.sidebar-content .sidebar-item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    width: 100%;
}

.sidebar-item-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2.6rem;
    max-height: 2.6rem; 
    margin: 0;
    border-radius: 1rem;
}

.sidebar-content .sidebar-item-contents {
    padding: 6rem 2.6rem 2.6rem 0rem;
    width: fit-content;
    min-width: fit-content;
    max-width: fit-content;
    height: fit-content;
    min-height: fit-content;
    max-height: fit-content;
}

.sidebar-line:hover {
    background-color: var(--bg-select);
}

.fade-top {
    mask-image: linear-gradient(to top, black 40%, transparent 80%);
    -webkit-mask-image: linear-gradient(to top, black 40%, transparent 80%);
}

.fade-bottom {
    mask-image: linear-gradient(to bottom, black 40%, transparent 80%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.fade-start {
    mask-image: linear-gradient(to left, black 20%, transparent 80%);
    -webkit-mask-image: linear-gradient(to left, black 20%, transparent 80%);
}

.sidebar-content, .sidebar-content * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--text-size) !important;
    font-weight: var(--text-weight) !important;
    font-family: var(--text-font) !important;
    text-align: center;
    width: 100%;
}

.landing-footer {
    position: fixed;
    top: 66%;
    left: 50%;
    transform: translateX(-50%); 
    width: 100%;
    justify-self: center;
    text-align: center;
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    font-family: var(--text-font);
}

.header-container {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: spread-between;
    align-items: center; 
}

.header-container * {
    flex: 1;
}

.landing-header * { 
    text-align: center;
}

.landing-contents {
    width: 100%;
    justify-self: center;
    text-align: center;
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    font-family: var(--text-font);
}

.main-contents { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    height: 40%;
    max-width: 40%;
    min-width: 40%;
}

.main-contents-header { 
    font-size: var(--impact-header-size);
    text-align: center;
    padding-bottom: 2rem;
    min-width: 80%;
    max-width: 80%;
}

.header-link {
    max-width: fit-content;
    color: var(--text-main);
}

.main-contents-section {
    line-height: 2;
    text-align: center;
    width: 80%;
    padding: 0rem;
    text-wrap: pretty;
}

.pad-left {
    padding-left: 3.6rem;
}

.header-link {
    max-width: fit-content;
    color: var(--text-main);
}

.letter-gradient {
  background-image: linear-gradient(45deg, var(--text-main), var(--text-main-secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.fade-out {
    animation: fadeout 2s forwards;
}

.fade-in {
    visibility: visible;
    animation: fadein 2s forwards; 
}

@keyframes fadeout {
    0% { 
        opacity: 100%;
    }
    100% { 
        opacity: 0%;
    }
}

@keyframes fadein {
    0% { 
        opacity: 0%;
    }
    100% { 
        opacity: 100%;
    }
}