.screen-contents {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    background: var(--bg-main);
    background: radial-gradient(circle, var(--bg-main) 0%, var(--bg-secondary) 100%); 
    transition: transform 4s ease-in-out;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.landing-header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100vw;
    height: 4rem;
    margin-top: 2rem;
}
