main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.screen-contents {
    height: 40rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--bg-main);
    background: radial-gradient(circle, var(--bg-main) 0%, var(--bg-secondary) 100%);
    border-radius: 12rem;
    corner-shape: squircle; 
    -webkit-box-shadow: #FFF 0 -1px 4px, rgba(240, 240, 255, 1) 0 -2px 10px, rgba(80, 80, 255, 1) 0 -10px 40px, rgba(0, 0, 255, 1) 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: #FFF 0 -1px 4px, rgba(240, 240, 255, 1) 0 -2px 10px, rgba(80, 80, 255, 1) 0 -10px 40px, rgba(0, 0, 255, 1) 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
    transition: transform 4s ease-in-out;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.screen-animations:hover {  
    transform: scale(1.02); 
    animation: bounce 2s linear infinite alternate;
}

.expand-screen {
    animation: expand 4s forwards;
    height: 110vh;
    width: 120vw; 
    border-radius: 0rem;
}

.fade-out {
    animation: fadeout 2s forwards;
}

.fade-in {
    animation: fadein 2s forwards;
}

.landing-header, .landing-header * {
    font-size: var(--header-size);
    font-weight: var(--header-weight);
    font-family: var(--header-font);
    text-align: center;
}

.landing-contents {
    width: 100%;
    justify-self: center;
    text-align: center;
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    font-family: var(--text-font);
}

.landing-footer {
    position: fixed;
    top: 66%;
    left: 50%;
    transform: translateX(-50%); 
    width: 100%;
    justify-self: center;
    text-align: center;
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    font-family: var(--text-font);
}

.letter-gradient {
  background-image: linear-gradient(45deg, var(--text-main), var(--text-secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@keyframes expand {
    0% { 
        border-radius: 12rem;
        height: 40rem;
        width: 40rem;
    }
    100% { 
        border-radius: 0rem;
        height: 110vh; 
        width: 120vw;
    }
}

@keyframes fadeout {
    0% { 
        opacity: 100%;
    }
    100% { 
        opacity: 0%;
    }
}

@keyframes fadein {
    0% { 
        opacity: 0%;
    }
    100% { 
        opacity: 100%;
    }
}

@keyframes bounce {
    from { 
        -webkit-box-shadow: #FFF 0 -1px 4px, rgba(240, 240, 255, 1) 0 -2px 10px, rgba(80, 80, 255, 1) 0 -10px 40px, rgba(0, 0, 255, 1) 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: #FFF 0 -1px 4px, rgba(240, 240, 255, 1) 0 -2px 10px, rgba(80, 80, 255, 1) 0 -10px 40px, rgba(0, 0, 255, 1) 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
    }
    to { 
        -webkit-box-shadow: #FFF 0 -1px 4px, rgba(240, 240, 255, 1) 0 -4px 10px, rgba(120, 120, 255, 1) 0 -20px 40px, rgba(0, 0, 255, 1) 0 -20px 80px, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: #FFF 0 -1px 4px, rgba(240, 240, 255, 1) 0 -4px 10px, rgba(120, 120, 255, 1) 0 -20px 40px, rgba(0, 0, 255, 1) 0 -20px 80px, 5px 5px 15px 5px rgba(0,0,0,0); 
    }
}