.screen-contents {
    height: 40rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--bg-main);
    background: radial-gradient(circle, var(--bg-main) 0%, var(--bg-secondary) 100%);
    border-radius: 12rem;
    corner-shape: squircle; 
    -webkit-box-shadow: #FFF 0 -1px 4px, rgba(240, 240, 255, 1) 0 -2px 10px, rgba(80, 80, 255, 1) 0 -10px 40px, rgba(0, 0, 255, 1) 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: #FFF 0 -1px 4px, rgba(240, 240, 255, 1) 0 -2px 10px, rgba(80, 80, 255, 1) 0 -10px 40px, rgba(0, 0, 255, 1) 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
    transition: transform 4s ease-in-out;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.landing-header, .landing-header * {
    font-size: var(--landing-header-size);
    font-weight: var(--header-weight);
    font-family: var(--header-font);
    text-align: center;
}

.landing-contents {
    width: 100%;
    justify-self: center;
    text-align: center;
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    font-family: var(--text-font);
}

.screen-animations:hover {  
    transform: scale(1.02); 
    animation: bounce 2s linear infinite alternate;
}

.expand-screen {
    animation: expand 4s forwards;
    height: 100vh;
    width: 100vw; 
    border-radius: 0rem;
}

@keyframes expand {
    0% { 
        border-radius: 12rem;
        height: 40rem;
        width: 40rem;
    }
    100% { 
        border-radius: 0rem;
        height: 100vh; 
        width: 100vw;
    }
}

@keyframes bounce {
    from { 
        -webkit-box-shadow: #FFF 0 -1px 4px, rgba(240, 240, 255, 1) 0 -2px 10px, rgba(80, 80, 255, 1) 0 -10px 40px, rgba(0, 0, 255, 1) 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: #FFF 0 -1px 4px, rgba(240, 240, 255, 1) 0 -2px 10px, rgba(80, 80, 255, 1) 0 -10px 40px, rgba(0, 0, 255, 1) 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
    }
    to { 
        -webkit-box-shadow: #FFF 0 -1px 4px, rgba(240, 240, 255, 1) 0 -4px 10px, rgba(120, 120, 255, 1) 0 -20px 40px, rgba(0, 0, 255, 1) 0 -20px 80px, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: #FFF 0 -1px 4px, rgba(240, 240, 255, 1) 0 -4px 10px, rgba(120, 120, 255, 1) 0 -20px 40px, rgba(0, 0, 255, 1) 0 -20px 80px, 5px 5px 15px 5px rgba(0,0,0,0); 
    }
}